/* 有些样式的更改需要刷新浏览器缓存才能看到: ctrl+F5 */

/* 自定义字体 */
@font-face {
    font-family: 'MyCustomFont1';
    src: url('../src/Fonts/方正秉楠圆宋简体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: 'MyCustomFont1', sans-serif;
}

/* dashboard-box.php */

.dashboard-box {
    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto; 
    grid-gap: 20px; 	
    margin: 0 auto; 	将网格容器在宽屏上居中 */
    width: 93%;
    //padding: 20px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dashboard-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-box h3 {
    text-align: center;
    margin-bottom: 20px;
}


/* 当前头像 */
.dashboard-box img#avatarnow {
    display: block;        /* 设置为块级元素 */
    margin: 0 auto;        /* 自动水平居中 */
    width: 20%;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图片在框内保持其比例，裁剪多余部分以填满框 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 上传新头像 */
.dashboard-box #avatar-upload-div {
    margin: 5px 10px 5px 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 80%;
}

.dashboard-box #avatar-upload-p {
    margin: 5px 10px 5px 10px;
}

.dashboard-box #avatar-input {
    margin: 5px 10px 0px 10px;
    cursor: pointer;
}

.dashboard-box #avatar-upload-button {
    margin: 5px 10px 0px 10px;
    background-color: #c196b6;
    color: white;
    border: 2px solid #a16092;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* 历史头像 */
.dashboard-box #avatar-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.avatar-thumbnail { /* 每个头像 */
    width: 10%;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图像按比例缩放并覆盖整个元素区域，避免变形 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 个人信息区布局 */
#profile-section {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin-bottom: 30px;
}

/* 当前头像+签名容器 */
#profile-left {
    flex: 0 0 40%;
    text-align: center;
    background-color: #aac5bf;
    border-radius: 10px 0 0 0; /* 左上角 10px，其他角 0 */
}

/* 个性签名文本 */
#user-signature {
    margin-top: 10px;
    color: #666;
}

/* 右侧：头像历史 + 照片墙 */
#profile-right {
    flex: 1;
    background-color: #c5aabe;
    //border: 2px solid rgb(146, 143, 143);
    border-radius: 0 10px 0 0;
}

#photo-wall {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.photo-thumbnail {
    width: 15%;
    aspect-ratio: 1;
    border-radius: 5%;
    object-fit: cover;
    border: 2px solid #ccc;
}

/* 新增：博客编辑框隐藏与展示 */
#blog-editor-form {
    display: none;
    margin-bottom: 20px;
}