/* 有些样式的更改需要刷新浏览器缓存才能看到: ctrl+F5 */

/* 自定义字体 */
@font-face {
    font-family: 'MyCustomFont1';
    src: url('../src/Fonts/方正秉楠圆宋简体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: 'MyCustomFont1', sans-serif;
}

.dashboard-box {
    width: 90%;
    min-width: 600px; 
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}




/* 个人信息区布局: 包括头像个签和照片 */

#profile-section {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /*分为10份*/
    grid-template-rows: 1fr; 
    grid-gap: 0px; 	
}

/* 个人信息区布局左: 当前头像 + 签名 */

#profile-left {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #aac5bf;
    border-radius: 10px 0 0 0; /* 左上角 10px，其他角 0 */

    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    grid-gap: 0px; 	 
}

#profile-left-bg{ /* 头图背景 */
    grid-area: 1 / 1 / 3 / 7;
    background-color: #ffe6bf; 
    position: relative;
    margin: 0;
    border-radius: 10px 0 0 0; /* 左上角 10px，其他角 0 */
    z-index: 1; /* 设置 z-index */
    /*background-image: url('../dashboardbg/1.jpg');*/
}

#avatarnow { /* 当前头像 */
    position: absolute;
    bottom: -22%; /* 向下悬浮一点 */
    left: 10%;    /* 从左边开始偏移 */
    width: 45%;
    max-width: 150px;
    z-index: 2;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 50%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图片在框内保持其比例，裁剪多余部分以填满框 */
    border: 3px solid #ffffff; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}

#username { /* 用户名 */
    grid-area: 3 / 1 / 4 / 7;
    margin: 0;
    padding: 60px 20px 0 20px;
}

#signature-display{ /* 个签 */
    grid-area: 4 / 1 / 5 / 7;
    margin: 0;
    padding: 0 20px 0 20px;
    color: #818181;
}

#signature-form{
    padding: 0 0 0 20px;
}

/* 个人信息区布局右：头像历史 + 照片墙 */

#profile-right {
    grid-area: 1 / 5 / 2 / 11;
    background-color: #c5aac5;
    border-radius: 0 10px 0 0; 

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr); 
    grid-gap: 0px; 	
}

#avatar-h3{
    grid-area: 1 / 1 / 2 / 2;
    margin: 0;
    padding: 20px 20px 0 20px;
}

#avatar-gallery{ /* 历史头像 */
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    padding: 0 20px 0 20px;
}

.avatar-thumbnail { /* 每个头像 */
    width: 10%;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 50%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图像按比例缩放并覆盖整个元素区域，避免变形 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}

#avatar-upload-div { /* 上传新头像 */
    grid-area: 3 / 1 / 4 / 2;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    background-color: #f9f9f9;
    padding: 10px 20px 0px 20px;
}

#avatar-input {  /* 上传新头像的选择处 */
    font-size: 12px;
    margin: 0;
    cursor: pointer;
}

#avatar-upload-button { /* 上传新头像的按钮 */
    font-size: 12px;
    margin: 0;
    background-color: #c196b6;
    color: white;
    border: 2px solid #a16092;
    border-radius: 5px;
    cursor: pointer;
}

#photo-h3{ /* 个人照片 */
    grid-area: 4 / 1 / 5 / 2;
    margin: 0;
    padding: 20px 20px 0 20px;
}


.photo-gallery { /* 所有照片 */
    grid-area: 5 / 1 / 7 / 2;
    margin: 0;
    padding: 0 20px 0 20px;
}
.photo-thumbnail { /* 每个照片 */
    width: 30%;
    border-radius: 5%; 
    object-fit: cover; 
    border: 2px solid #ddd; 
}

#photo-upload-div { /* 上传新照片 */
    grid-area: 7 / 1 / 8 / 2;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
    background-color: #f9f9f9;
    padding: 10px 20px 0px 20px;
}

#photo-input {  /* 上传新照片的选择处 */
    font-size: 12px;
    margin: 0;
    cursor: pointer;
}

#photo-upload-button { /* 上传新照片的按钮 */
    font-size: 12px;
    margin: 0;
    background-color: #c196b6;
    color: white;
    border: 2px solid #a16092;
    border-radius: 5px;
    cursor: pointer;
}

/* 历史博客 */
#blog-list{
    width: 100%;
    margin: 0 0 10px 0;
}
.blogs-avatar { /* 每条博客的用户头像 */
    width: 40px;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%;
    object-fit: cover; 
    margin-right: 10px;
    border: 1px solid #ddd; 
}
/* 每一条博客的样式 */
.blogs {
    border: 2px solid #efefef;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blogs hr {
    visibility: hidden;
}
.blogs_username {
    font-size: 20px; /* 用户名 */
}
.blogs_timestamp {
    font-size: 10px; /* 留言时间 */
    color: grey;
}
.blogs_content {
    font-size: 16px; /* 留言内容 */
}
.blogs_info {
    font-size: 10px; /* IP 地址和浏览器信息 */
}
.blogs img { /* 限制留言中图片的最大大小 */
    max-width: 30%;
    height: auto;
}

#blog-form { /* UEditor输入框样式 */
    display: flex;               
    flex-direction: column;     
    align-items: center;      
    margin: 20px;             
}