/* 有些样式的更改需要刷新浏览器缓存才能看到: ctrl+F5 */

/* 自定义字体 */
@font-face {
    font-family: 'MyCustomFont1';
    src: url('../src/Fonts/方正秉楠圆宋简体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: 'MyCustomFont1', sans-serif;
}

/* index.php */

.login-box {
    width: 45%;
    padding: 40px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin: 10px 0 5px;
}

.login-box input[type="text"] {
    width: 100%;    /* 宽度设置为其父容器.login-box的 100% */
    padding: 10px;  /* 内边距, 框的高度 */
    margin-bottom: 2px;    /* 底部外边距 */
    box-sizing: border-box; /* 确保 padding 不影响宽度 */
}

.login-box input[type="password"] {
    width: 100%;    
    padding: 10px;  
    margin-bottom: 15px;    
    box-sizing: border-box; 
}

.login-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #BA6CA8;
    color: white;
    border:  #BA6CA8;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer; /* 鼠标悬停光标改变 */
}


/* register.php */

.register-box {
    width: 45%;
    padding: 40px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.register-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-box label {
    display: block;
    margin: 10px 0 5px;
}

.register-box input[type="text"],
.register-box input[type="password"],
.register-box input[type="email"] {
    width: 100%;    
    padding: 5px;  
    margin-bottom: 2px;    
    box-sizing: border-box; 
}

.register-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #BA6CA8;
    color: white;
    border:  #BA6CA8;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer; /* 鼠标悬停光标改变 */
}

/* dashboard-box.php */

.dashboard-box {
    width: 80%;
    padding: 40px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dashboard-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-box h3 {
    text-align: center;
    margin-bottom: 20px;
}


/* 当前头像 */
.dashboard-box img#avatarnow {
    display: block;        /* 设置为块级元素 */
    margin: 0 auto;        /* 自动水平居中 */
    width: 20%;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图片在框内保持其比例，裁剪多余部分以填满框 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 上传新头像 */
.dashboard-box #avatar-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-box #avatar-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    width: 200px;
}

.dashboard-box #avatar-upload-button {
    padding: 5px 10px;
    background-color: #BA6CA8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s;
}


/* 历史头像 */
.dashboard-box #avatar-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.avatar-thumbnail { /* 每个头像 */
    width: 15%;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图像按比例缩放并覆盖整个元素区域，避免变形 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 留言板样式 */

#gbook-form {
    display: flex;               
    flex-direction: column;     /* 纵向排列子元素 */
    align-items: center;        /* 水平居中 */
    margin: 20px;               /* 上下外边距 */
}

#gbook-textarea {
    width: 70%;          /* 相对于 #gbook-form 宽度 */
    max-width: 500px;
    resize: none;        /* 禁止拉伸 */

}

#gbook-submit {
    width: 100px;
    color: white;
    font-size: 14px;
    padding: 10px;
    border:  #BA6CA8;
    background-color: #BA6CA8;
    border-radius: 5px;
    cursor: pointer;    /* 鼠标移动到按钮上时切换鼠标样式 */
}

.gbook-avatar { /* 每条留言的用户头像 */
    width: 40px;
    aspect-ratio: 1; /* 高度等于宽度 */
    border-radius: 5%;
    object-fit: cover; 
    margin-right: 10px;
    border: 1px solid #ddd; 
}

/* 每一条留言的样式 */
.message {
    border: 2px solid #efefef;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message hr {
    visibility: hidden;
}
.gbook_username {
    font-size: 20px; /* 用户名 */
}
.gbook_timestamp {
    font-size: 10px; /* 留言时间 */
    color: grey;
}
.gbook_content {
    font-size: 16px; /* 留言内容 */
}
.gbook_info {
    font-size: 10px; /* IP 地址和浏览器信息 */
}
.message img { /* 限制留言中图片的最大大小 */
    max-width: 30%;
    height: auto;
    border-radius: 5px;
    border: 2px solid white;
}

/* 管理员面板 admin-dashboard.php */
.admin-dashboard {
    width: 80%;
    padding: 40px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.admin-dashboard h1 {
    text-align: center;
    margin-bottom: 20px;
}
.admin-choice a {
    text-decoration: none; /* 去掉链接的下划线 */
    color: #fff;
    background-color: #BA6CA8;
    padding: 25px;  /* 选项背景色块大小 */
    font-size: 16px; 
    border-radius: 5px;
}
.admin-choice ul {
    list-style-type: none; /* 去掉列表项的默认样式（如圆点或数字） */
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.admin-choice li {
    margin: 0 30px; /* 选项间距 */
}

/* 管理员管理文件 admin-files.php */
.admin-files {
    width: 80%;
    padding: 40px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.admin-files table {
    width: 100%; /* 表格宽度占满容器 */
    max-width: 800px; 
    margin: 0 auto; 
    border-collapse: collapse; /* 合并边框 */
}
.admin-files th, .admin-files td {
    border: 1px solid #ccc; /* 边框颜色 */
    padding: 8px; 
    text-align: left; 
}
.admin-files th {
    background-color: #f2f2f2; /* 表头背景色 */
}