/* 有些样式的更改需要刷新浏览器缓存才能看到: ctrl+F5 */

/* 自定义字体 */
@font-face {
    font-family: 'MyCustomFont1';
    src: url('../src/Fonts/方正秉楠圆宋简体.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f0f0f0;
    font-family: 'MyCustomFont1', sans-serif;
}

/* index.php */

.login-box {
    width: 300px;
    padding: 40px;
    margin: 100px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin: 10px 0 5px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;    /* 宽度设置为其父容器.login-box的 100% */
    padding: 10px;  /* 内边距 */
    margin-bottom: 15px;    /* 底部外边距 */
    box-sizing: border-box; /* 确保 padding 不影响宽度 */
}

.login-box button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #BA6CA8;
    color: white;
    border:  #BA6CA8;
    border-radius: 5px;
    cursor: pointer; /* 鼠标悬停光标改变 */
}

/* dashboard-box.php */
.dashboard-box {
    width: 80%;
    padding: 40px;
    margin: 50px auto;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dashboard-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-box h3 {
    text-align: center;
    margin-bottom: 20px;
}


/* 当前头像 */
.dashboard-box img#avatarnow {
    display: block;        /* 设置为块级元素 */
    margin: 0 auto;        /* 自动水平居中 */
    width: 20%;
    height: 20%;
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图片在框内保持其比例，裁剪多余部分以填满框 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 上传新头像 */
.dashboard-box #avatar-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.dashboard-box #avatar-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    width: 200px;
}

.dashboard-box #avatar-upload-button {
    padding: 5px 10px;
    background-color: #BA6CA8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 130px;
    transition: background-color 0.3s;
}


/* 历史头像 */
.dashboard-box #avatar-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.avatar-thumbnail { /* 每个头像 */
    width: 15%;
    height: 15%;
    border-radius: 5%; /* 改为50%就是圆形头像 */
    object-fit: cover; /* 确保图像按比例缩放并覆盖整个元素区域，避免变形 */
    border: 2px solid #ddd; /* 设置头像边框为 2 像素，颜色为浅灰色 */
}


/* 留言板样式 */

#gbook-form {
    display: flex;               
    flex-direction: column;     /* 纵向排列子元素 */
    align-items: center;        /* 水平居中 */
    margin: 20px;               /* 上下外边距 */
}

#gbook-textarea {
    width: 70%;          /* 相对于 #gbook-form 宽度 */
    max-width: 500px;
    resize: none;        /* 禁止拉伸 */

}

#gbook-submit {
    width: 100px;
    color: white;
    font-size: 14px;
    padding: 10px;
    border:  #BA6CA8;
    background-color: #BA6CA8;
    border-radius: 5px;
    cursor: pointer;    /* 鼠标移动到按钮上时切换鼠标样式 */
}

.gbook-avatar { /* 每条留言的用户头像 */
    width: 40px;
    height: 40px;
    border-radius: 5%;
    object-fit: cover; 
    margin-right: 10px;
    border: 1px solid #ddd; 
}

/* 留言板留言的字体设置 */
.message strong {
    font-size: 16px; /* 用户名 */
}
.message em {
    font-size: 10px; /* 留言时间 */
    color: grey;
}
.message p {
    font-size: 16px; /* 留言内容 */
}
.message small {
    font-size: 10px; /* IP 地址和浏览器信息 */
}
.message img { /* 限制留言中图片的最大大小 */
    max-width: 30%;
    height: auto;
}
